.industry-new {
    width: 33.3%;
    display: inline-flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 22em;
    padding: 10px;
}

.products-section {
    width: 25%;
    display: inline-flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 14em;
    padding: 10px;
}

.industry-new > h4 {
    margin-bottom: 10px;
}
  
.industry-new > p {
    margin: 0;
} 
  
.resources {
    width: 32%;
    border: 1px solid gray;
    display: inline-flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 12em;
    padding: 10px;
    margin: 5px;
}

.links ul li {
    margin-bottom: 5px;
}

.resources .links ul {
    margin-top: 10px;
}

.resources > h4 {
    margin: 10px 0;
}

h2 {
    margin-top: 0;
}

.products-section > h4 {
    margin: 0px;
}
  
.products-section > p {
    margin: 0;
} 

.products-section .links ul {
    margin: 0;
}